<!-- CSV Importer wrapper -->
<div class="csv-import-container">

    <!-- 1920x1080 view for the front page -->
    <div class="view-container">

        <div class="header">

            <div class="logo-wrapper">
                <img src="assets/images/udg-logo.png" alt="" class="logo" onmouseover="this.src='assets/images/udg-logo-red.png'" onmouseout="this.src='assets/images/udg-logo.png'">
            </div>

            <div class="social-wrapper">
                <ul class="social-list">
                    <li class="social-element"><a href="https://twitter.com/UDG_DE" class="social twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-element"><a href="https://www.instagram.com/uniteddigitalgroup/" class="social instagram"><i class="fa fa-instagram"></i></a></li>
                    <li class="social-element"><a href="https://www.facebook.com/UDG.UnitedDigitalGroup" class="social facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="slogan-wrapper">
            <h1 class="slogan">Edit your CSV File <br><span>Easy,</span> <br><span>Free und</span> <br><span>Fast</span></h1>
            <img src="assets/images/csv-logo.png" alt="" class="csv">
        </div>

        <!-- Background image -->
        
        <!-- CSV import -->
        <div class="csv-import">
            <div class="form-group">

                <!-- File management -->
                <input type="file" class="file-upload" id="file-upload" (change)="importCSV($event.target.files)">
                <input type="button" class="file-selector" value="Choose File" (click)="openFileSelector()">
            </div>
        </div>

    </div>

    <!-- Table -->
    <div class="csv-table-wrapper">
        <table class="csv-table" *ngIf="this.rows" id="table">
            <tr class="rows" *ngFor="let row of this.rows; let i = index">
                <td class="row" *ngFor="let rowData of row" [class.column-header]="i == 0" [attr.contenteditable]="i >= 1">{{ rowData }}</td>
            </tr>
        </table>
    </div>

    <!-- Loading view -->
    <div class="loading" *ngIf="this.loading">
        <p>Lade Tabelle und Chart...</p>
    </div>

    <!-- Chart -->
    <div class="chart-container" *ngIf="this.chartData">
        <canvas baseChart
        [data]="chartData"
        [labels]="chartLabels"
        [chartType]="chartType">
        </canvas>
    </div>

    <!-- Export button -->
    <div class="export-wrapper" *ngIf="this.rows">
        <div class="export-button" (click)="generateCSV()"><i class="fa fa-download"></i></div>
    </div>

    <!-- Features -->
    <div class="features">

        <div class="feature">
            <div class="icon-wrapper">
                <i class="material-icons icon">import_export</i>
            </div>
            <div class="text-container">
                <h2 class="title">Easy Export</h2>
                <p class="description">Just one click to download the edited csv file.</p>
            </div>
        </div>
        
        <div class="feature">
            <div class="icon-wrapper">
                <i class="material-icons icon">table_chart</i>
            </div>
            <div class="text-container">
                <h2 class="title">Easy Editable</h2>
                <p class="description">Great overview about your table with a clear and nice designed designed table</p>
            </div>
        </div>

        <div class="feature">
            <div class="icon-wrapper">
                <i class="material-icons icon">pie_chart</i>
            </div>
            <div class="text-container">
                <h2 class="title">Chart Analyse</h2>
                <p class="description">Live chartviews for your csv table.</p>
            </div>
        </div>

    </div>

    <!-- Call to Action -> Open a csv file -->
    <div class="call-to-action-wrapper">
        <h3 class="call-to-action">Start editing your files now</h3>
        <input type="button" class="file-selector" value="Choose File" (click)="openFileSelector()">
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="data-container">
            <a class="impressum">Imprint</a>
            <a class="datenschutz">Privacy Policy</a>
        </div>
        <p class="copyright">&copy; 2019 - Philipp Zechner | Übungsaufgabe für UDG</p>
    </div>

</div>