/* Styles */
.csv-import-container {

    /* View container */
    .view-container {
        position: relative;
        width: 100%;
        height: 450px;
        background-color: #14171d;

        /* Flexbox header with logo and social media icons */
        .header {
            display: flex;
            position: relative;
            height: 100px;
            align-items: center;

            .logo-wrapper {
                flex: 1;
                padding-left: 50px;

                .logo {
                    height: 50px;
                    transition: 0.3s ease;
                    cursor: pointer;
                }

            }

            /* Social icons with hover color animation */
            .social-wrapper {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                padding-right: 50px;

                .social-list {
                    display: flex;
                    flex-direction: row;

                    .social-element {
                        list-style: none;

                        .social {
                            font-size: 23px;
                            color: #ffffff;
                            margin: 0px 20px;
                            transition: 0.3s ease;

                            &.twitter {
                                &:hover {
                                    color: #03a9f4;
                                }
                            }
                            &.instagram {
                                &:hover {
                                    color: #E91E63;
                                }
                            }
                            &.facebook {
                                &:hover {
                                    color: #3b5998;
                                }
                            }

                        }

                    }

                }

            }


        }

        /* Slogan design */
        .slogan-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            .slogan {
                font-size: 27px;
                font-weight: 500;
                color: #ffffff;

                span {
                    font-size: 30px;
                    color: #ffebee;
                }

            }
            .csv {
                height: 150px;
            }

            
            /* Mediascreen for 700px to adjustify the font size and image height to smaller screen */
            @media only screen
            and (max-width: 700px) {
                .slogan {
                    font-size: 23px;

                    span {
                        font-size: 26px;
                    }

                }

                .csv {
                    height: 100px;
                }
            }

        }


        /* CSV upload design */
        .csv-import {

            .file-upload {
                display: none;
            }

            /* Edited Material Button style from official Material Design */
            .file-selector {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 200px;
                margin-top: -21px;
                margin-left: -100px;
                background: radial-gradient( circle 770.6px at 10% 20%,  rgba(246,71,71,1) 0%, rgba(189,35,35,1) 74.9% );
                color: #ffffff;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 14px;
                box-sizing: border-box;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer;
                outline: 0;
                border: none;
                -webkit-tap-highlight-color: transparent;
                display: inline-block;
                white-space: nowrap;
                text-decoration: none;
                vertical-align: baseline;
                text-align: center;
                min-width: 88px;
                line-height: 36px;
                padding: 3px 16px;
                border-radius: 2px;
                box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            }

        }
       
    }


    /* Mediascreen for 700px to put all features in a column and restyle the feature element */
    @media only screen
    and (max-width: 700px) {
        .view-container {
            height: 300px;
        }
    }


    /* CSV Table design */
    .csv-table-wrapper {
        overflow: auto;

        .csv-table {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            margin-top: 75px;
            max-height: 800px;
            min-width: 1200px;
            overflow-y: auto;
            overflow-x: hidden;
            
            .rows {
                display: flex;
                flex-direction: row;
    
                .row {
                    color: #14171d;
                    border: 0.5px solid #CCC;
                    margin: 0px;
                    width: 100px;
                    max-height: 75px;
                    border-spacing: 4px;
                    font-size: 12px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    white-space: pre-line;
                    outline: none;
    
                    &.column-header {
                        font-weight: 500;
                    }
                }
    
            }
    
        }

        
        /* Mediascreen for 700px to start the table at flex-start */
        @media only screen
        and (max-width: 700px) {
            .csv-table {
                align-items: flex-start;

                .feature {
                    margin: 20px;
                    width: 250px;
                }

            }
        }

    }

    /* Export button from Material design */
    .export-wrapper {
        
        .export-button {
            position: fixed;
            background-color: #ffffff;
            bottom: 20px;
            right: 20px;
            box-sizing: border-box;
            user-select: none;
            cursor: pointer;
            outline: 0;
            border: none;
            display: inline-block;
            white-space: nowrap;
            text-decoration: none;
            vertical-align: baseline;
            text-align: center;
            margin: 0;
            min-width: 64px;
            line-height: 36px;
            padding: 0 16px;
            border-radius: 4px;
            overflow: visible;
            transform: translate3d(0,0,0);
            transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
            min-width: 0;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            padding: 0;
            flex-shrink: 0;
            box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

            i {
                margin-top: 15px;
                font-size: 24px;
            }

        }
    }

    /* Feature design */
    .features {
        display: flex;
        margin: 100px 0;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        .feature {
            display: flex;
            flex-direction: column;
            width: 400px;
            justify-content: flex-start;
            text-align: center;
            margin: 0px 30px;

            /* Icon design */
            .icon-wrapper {

                .icon {
                    font-size: 50px;
                    background: radial-gradient( circle 770.6px at 10% 20%,  rgba(246,71,71,1) 0%, rgba(189,35,35,1) 74.9%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

            }

            /* Design  */
            .text-container {

                .title {
                    margin: 0;
                    font-size: 35px;
                    color: #14171d;
                }

                .description {
                    margin: 7px 0 0 0;
                    font-size: 20px;
                    color: #455a64;
                }

            }

            /* Desktop for 1024px because the fonts are way to large for this kind of small view */
            @media only screen
            and (max-width: 1024px) {
                .icon-wrapper {
                    .icon {
                        font-size: 45px;
                    }
                }

                .text-container {
                    .title {
                        font-size: 27px;
                    }

                    .description {
                        font-size: 17px;
                    }
                }
            }

        }

    }

    /* Mediascreen for 700px to put all features in a column and restyle the feature element */
    @media only screen
    and (max-width: 700px) {
        .features {
            align-items: center;
            flex-direction: column;

            .feature {
                margin: 20px;
                width: 250px;
            }

        }
    }

    /* Call to Action */
    .call-to-action-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 250px;
        background: radial-gradient( circle 770.6px at 10% 20%,  rgba(246,71,71,1) 0%, rgba(189,35,35,1) 74.9%);

        .call-to-action {
            font-size: 35px;
            font-weight: 500;
            color: #ffffff;
        }

        .file-selector {
            width: 200px;
            background: #ffffff;
            color: #14171d;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 14px;
            box-sizing: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            outline: 0;
            border: none;
            -webkit-tap-highlight-color: transparent;
            display: inline-block;
            white-space: nowrap;
            text-decoration: none;
            vertical-align: baseline;
            text-align: center;
            min-width: 88px;
            line-height: 36px;
            padding: 3px 16px;
            border-radius: 2px;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        }


        /* Desktop for 1024px because the fonts are way to large for this kind of small view */
        @media only screen
        and (max-width: 1024px) {
            .call-to-action {
                font-size: 30px;
            }
        }



    }

    /* Loading */
    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ripple div {
        position: absolute;
        border: 4px solid #f44336;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }

    @keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
    }
      

    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #14171d;
        height: 75px;

        .data-container {
            flex: 1;
            text-align: center;

            .impressum, .datenschutz {
                color: #ffffff;
                margin: 10px;
                transition: 0.3s ease;
                cursor: pointer;

                &:hover {
                    color: #f44336;
                }

            }
        }

        .copyright {
            flex: 1;
            color: #ffffff;
            margin: 10px;
            text-align: center;
        }

    }

}